# IBM Data Science Professional Certificate
https://www.coursera.org/specializations/ibm-data-science-professional-certificate

## COURSE 9 - Applied Data Science Capstone
https://www.coursera.org/learn/applied-data-science-capstone

### Week 05 - Capstone Project - The Battle of Neighborhoods (Week 2)

### Opening a New Bakery in Berlin - Germany:

* [001 - Library import](#library_import)
* [002 - Build a dataframe (web scraping from Wikipedia)](#wikipedia)
* [003 - Get the geographical coordinates (geocoder)](#geocoder)
* [004 - Obtain the venue data (Foursquare API)](#foursquare)
* [005 - Explore and cluster the borough](#explore)
* [006 - Select the best cluster to open a new backery](#cluster)

### 001 - Library import <a id='library_import'></a>

In [2]:
import numpy as np
print ('Numpy: ', np.__version__)
import pandas as pd
print ('Pandas: ', pd.__version__)

from bs4 import BeautifulSoup

%matplotlib inline

import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
print ('Matplotlib: ', mpl.__version__)

import sklearn as sk
from sklearn.cluster import KMeans
print ('scikit-learn: ', sk.__version__)

import requests
print ('requests: ', requests.__version__)
import folium
print ('folium: ', folium.__version__)

from geopy.geocoders import Nominatim
import geocoder
print ('geocoder: ', geocoder.__version__)

Numpy:  1.17.2
Pandas:  0.25.1
Matplotlib:  3.1.1
scikit-learn:  0.21.3
requests:  2.22.0
folium:  0.10.1
geocoder:  1.38.1

### 002 - Build a dataframe (web scraping - Wikipedia)  <a id='wikipedia'></a>

In [3]:
# request link to wikipedia page in text format (boroughs and neighborhoods)
districts_BLN = requests.get('https://en.wikipedia.org/wiki/Boroughs_and_neighborhoods_of_Berlin').text

In [4]:
# beautifulsoup function
soupBLN = BeautifulSoup(districts_BLN, 'html.parser')
# print(soupBLN.prettify())

In [5]:
# which line of html code contains the table details
wiki_table = soupBLN.find('table', {'class':'sortable wikitable'})

In [6]:
# create a empty variables
Borough = []
Population = []
Area = []
Density = []

In [7]:
# append data into a created variables
for row in wiki_table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) == 4:
        Borough.append(cells[0].find(text = True))
        Population.append(cells[1].find(text = True))
        Area.append(cells[2].find(text = True))
        Density.append(cells[2].find(text = True))

In [8]:
# creating a empty dataframe
BLN_df = pd.DataFrame(columns = ['Borough', 'Population', 'Area', 'Density'])

In [9]:
# insert data into the empty dataframe
BLN_df['Borough'] = Borough
BLN_df['Population'] = Population
BLN_df['Area'] = Area
BLN_df['Density'] = Density
BLN_df

                     Borough Population      Area   Density
0   Friedrichshain-Kreuzberg  268,225\n   20.16\n   20.16\n
1                Lichtenberg  259,881\n   52.29\n   52.29\n
2        Marzahn-Hellersdorf  248,264\n   61.74\n   61.74\n
3                      Mitte  332,919\n   39.47\n   39.47\n
4                   Neukölln  310,283\n   44.93\n   44.93\n
5                     Pankow  366,441\n  103.01\n  103.01\n
6              Reinickendorf  240,454\n   89.46\n   89.46\n
7                    Spandau  223,962\n   91.91\n   91.91\n
8        Steglitz-Zehlendorf  293,989\n  102.50\n  102.50\n
9       Tempelhof-Schöneberg  335,060\n   53.09\n   53.09\n
10          Treptow-Köpenick  241,335\n  168.42\n  168.42\n

In [10]:
print ('dimensions (rows, column)')
print ('BLN_df:', BLN_df.shape)

dimensions (rows, column)
BLN_df: (11, 4)

### 003 - Get the geographical coordinates (geocoder) <a id='geocoder'></a>

In [11]:
# define a function to get coordinates
def get_latlng(borough):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Berlin, Germany'.format(borough))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [12]:
# call the function to get the coordinates, store in a new list using list comprehension
coords = [ get_latlng(borough) for borough in BLN_df['Borough'].tolist()]
coords

[[52.500520062179, 13.418709963356338],
 [52.51618000000008, 13.480870000000039],
 [52.51667000000003, 13.583330000000046],
 [52.52119000000005, 13.424140000000023],
 [52.480770000000064, 13.435410000000047],
 [52.56925000000007, 13.402480000000025],
 [52.575450000000046, 13.349700000000041],
 [52.53487000000007, 13.202160000000049],
 [52.43485000000004, 13.24183000000005],
 [52.47769743739926, 13.35870062810808],
 [52.43333000000007, 13.600000000000023]]

In [13]:
# create temporary dataframe to populate the coordinates into Latitude and Longitude
BLN_df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])

In [14]:
# merge the coordinates with BLN_df
BLN_df['Latitude'] = BLN_df_coords['Latitude']
BLN_df['Longitude'] = BLN_df_coords['Longitude']

In [15]:
# export BLN_df
BLN_df.to_csv('BLN_df.csv', index=False)
BLN_df

,Borough,Population,Area,Density,Latitude,Longitude
0,Friedrichshain-Kreuzberg,"268,225\n",20.16\n,20.16\n,52.500520,13.418710
1,Lichtenberg,"259,881\n",52.29\n,52.29\n,52.516180,13.480870
2,Marzahn-Hellersdorf,"248,264\n",61.74\n,61.74\n,52.516670,13.583330
3,Mitte,"332,919\n",39.47\n,39.47\n,52.521190,13.424140
4,Neukölln,"310,283\n",44.93\n,44.93\n,52.480770,13.435410
5,Pankow,"366,441\n",103.01\n,103.01\n,52.569250,13.402480
6,Reinickendorf,"240,454\n",89.46\n,89.46\n,52.575450,13.349700
7,Spandau,"223,962\n",91.91\n,91.91\n,52.534870,13.202160
8,Steglitz-Zehlendorf,"293,989\n",102.50\n,102.50\n,52.434850,13.241830
9,Tempelhof-Schöneberg,"335,060\n",53.09\n,53.09\n,52.477697,13.358701
10,Treptow-Köpenick,"241,335\n",168.42\n,168.42\n,52.433330,13.600000

In [16]:
# get the coordinates of Berlin
address = 'Berlin, Germany'

geolocator = Nominatim(user_agent='berlin_location')
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('Berlin, Germany  - LAT: {}, LON: {}'.format(latitude, longitude))

Berlin, Germany  - LAT: 52.5170365, LON: 13.3888599

In [17]:
# Berlin - Map
BLN_map = folium.Map(location=[latitude, longitude], zoom_start=11)


# add markers to map
for lat, lng, Borough in zip(BLN_df['Latitude'], BLN_df['Longitude'], BLN_df['Borough']):
    label = '{}'.format(Borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=25,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(BLN_map)
BLN_map

In [18]:
BLN_map.save('./images/001_BLN_map.html')

### 004 - Obtain the venue data (Foursquare API) <a id='foursquare'></a>

In [39]:
# define Foursquare Credentials and Version
CLIENT_ID = '' 
CLIENT_SECRET = '' 
VERSION = '20190610' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID:
CLIENT_SECRET:

In [20]:
#### top 200 venues that are within a radius of 4000 meters
LIMIT = 200
radius = 4000

venues = []

for lat, long, Borough in zip(BLN_df['Latitude'], BLN_df['Longitude'], BLN_df['Borough']):
    
    # create the API request URL
    url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    # make the GET request
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    # return only relevant information for each nearby venue
    for venue in results:
        venues.append((
            Borough,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [21]:
# convert the venues list into a new DataFrame
venues_df = pd.DataFrame(venues)
venues_df.columns = ['Borough', 'Latitude', 'Longitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']

print ('dimensions (rows, column)')
print ('venues_df:', venues_df.shape)
venues_df.head()

dimensions (rows, column)
venues_df: (1086, 7)

,Borough,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Friedrichshain-Kreuzberg,52.50052,13.41871,Nano Kaffee,52.500831,13.417041,Coffee Shop
1,Friedrichshain-Kreuzberg,52.50052,13.41871,Burgermeister,52.499464,13.418647,Burger Joint
2,Friedrichshain-Kreuzberg,52.50052,13.41871,Kaffeekirsche,52.503057,13.420549,Coffee Shop
3,Friedrichshain-Kreuzberg,52.50052,13.41871,Bonanza Roastery,52.504155,13.420128,Coffee Shop
4,Friedrichshain-Kreuzberg,52.50052,13.41871,Das Hotel,52.496551,13.420147,Bar

In [22]:
#### how many venues are in each neighorhood
venues_df.groupby(['Borough']).count()

,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
Borough,,,,,,
Friedrichshain-Kreuzberg,100,100,100,100,100,100
Lichtenberg,100,100,100,100,100,100
Marzahn-Hellersdorf,86,86,86,86,86,86
Mitte,100,100,100,100,100,100
Neukölln,100,100,100,100,100,100
Pankow,100,100,100,100,100,100
Reinickendorf,100,100,100,100,100,100
Spandau,100,100,100,100,100,100
Steglitz-Zehlendorf,100,100,100,100,100,100
Tempelhof-Schöneberg,100,100,100,100,100,100
Treptow-Köpenick,100,100,100,100,100,100

In [23]:
#### how many unique categories exist
print('There are {} uniques categories.'.format(len(venues_df['VenueCategory'].unique())))

There are 209 uniques categories.

In [24]:
#### list of exist categories
venues_df['VenueCategory'].unique()[:50]

array(['Coffee Shop', 'Burger Joint', 'Bar', 'Spanish Restaurant',
       'Pizza Place', 'Record Shop', 'Arts & Crafts Store',
       'Farmers Market', 'Canal', 'Falafel Restaurant',
       'Kumpir Restaurant', 'Café', 'Food Court', 'BBQ Joint', 'Brewery',
       'Ice Cream Shop', 'Pastry Shop', 'Waterfront', 'Climbing Gym',
       'Event Space', 'Lebanese Restaurant', 'Cocktail Bar', 'Wine Bar',
       'Beer Store', 'Breakfast Spot', 'Vegetarian / Vegan Restaurant',
       'Italian Restaurant', 'Hostel', 'Indie Movie Theater',
       'French Restaurant', 'Art Museum', 'Vietnamese Restaurant',
       'Turkish Restaurant', 'Tea Room', 'Plaza', 'Deli / Bodega',
       'Wine Shop', 'Bike Shop', 'Mediterranean Restaurant',
       'Monument / Landmark', 'Park', 'Hardware Store', 'Hotel',
       'Cycle Studio', 'Dumpling Restaurant', 'Hotel Bar', 'Lounge',
       'Beer Garden', 'Concert Hall', 'Beer Bar'], dtype=object)

In [25]:
print ('Exist a Bakery in the categories:', 'Bakery' in venues_df['VenueCategory'].unique())

Exist a Bakery in the categories: True

### 005 - Explore and cluster the borough  <a id='explore'></a>

In [26]:
# encoding
BLN_df_onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")

# add Borough column back to dataframe
BLN_df_onehot['Borough'] = venues_df['Borough'] 

# move Borough column to the first column
fixed_columns = [BLN_df_onehot.columns[-1]] + list(BLN_df_onehot.columns[:-1])
table_df_onehot = BLN_df_onehot[fixed_columns]

print ('dimensions (rows, column)')
print ('BLN_df_onehot:', BLN_df_onehot.shape)
BLN_df_onehot.head()

dimensions (rows, column)
BLN_df_onehot: (1086, 210)

,African Restaurant,American Restaurant,Amphitheater,Arcade,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,...,Waterfall,Waterfront,Whisky Bar,Windmill,Wine Bar,Wine Shop,Yoga Studio,Zoo,Zoo Exhibit,Borough
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Friedrichshain-Kreuzberg
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Friedrichshain-Kreuzberg
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Friedrichshain-Kreuzberg
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Friedrichshain-Kreuzberg
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Friedrichshain-Kreuzberg

In [27]:
### group rows by Borough
BLN_df_grouped = BLN_df_onehot.groupby(['Borough']).mean().reset_index()
print ('dimensions (rows, column)')
print ('BLN_df_onehot:', BLN_df_grouped.shape)
BLN_df_grouped

dimensions (rows, column)
BLN_df_onehot: (11, 210)

,Borough,African Restaurant,American Restaurant,Amphitheater,Arcade,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,...,Volleyball Court,Waterfall,Waterfront,Whisky Bar,Windmill,Wine Bar,Wine Shop,Yoga Studio,Zoo,Zoo Exhibit
0,Friedrichshain-Kreuzberg,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.000000,...,0.00,0.00,0.01,0.00,0.000000,0.01,0.02,0.00,0.000000,0.000000
1,Lichtenberg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,...,0.00,0.00,0.01,0.00,0.000000,0.01,0.02,0.00,0.000000,0.000000
2,Marzahn-Hellersdorf,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.011628,...,0.00,0.00,0.00,0.00,0.011628,0.00,0.00,0.00,0.011628,0.046512
3,Mitte,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.02,0.000000,...,0.00,0.00,0.00,0.00,0.000000,0.03,0.00,0.00,0.000000,0.000000
4,Neukölln,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,...,0.00,0.00,0.00,0.01,0.000000,0.01,0.01,0.01,0.000000,0.000000
5,Pankow,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,...,0.00,0.00,0.00,0.01,0.000000,0.01,0.00,0.00,0.000000,0.000000
6,Reinickendorf,0.01,0.00,0.00,0.00,0.02,0.01,0.00,0.00,0.000000,...,0.00,0.00,0.00,0.01,0.000000,0.00,0.00,0.00,0.000000,0.000000
7,Spandau,0.00,0.00,0.01,0.00,0.02,0.00,0.00,0.00,0.000000,...,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000
8,Steglitz-Zehlendorf,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.010000,...,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.01,0.000000,0.000000
9,Tempelhof-Schöneberg,0.01,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.010000,...,0.01,0.01,0.00,0.00,0.000000,0.00,0.01,0.00,0.000000,0.000000
10,Treptow-Köpenick,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.020000,...,0.00,0.00,0.00,0.00,0.000000,0.00,0.00,0.00,0.000000,0.000000

In [28]:
len(BLN_df_grouped[BLN_df_grouped["Bakery"] > 0])

9

In [29]:
### create a new DataFrame
BLN_df_bakery = BLN_df_grouped[['Borough','Bakery']]
BLN_df_bakery

                     Borough    Bakery
0   Friedrichshain-Kreuzberg  0.000000
1                Lichtenberg  0.010000
2        Marzahn-Hellersdorf  0.023256
3                      Mitte  0.040000
4                   Neukölln  0.020000
5                     Pankow  0.030000
6              Reinickendorf  0.010000
7                    Spandau  0.000000
8        Steglitz-Zehlendorf  0.020000
9       Tempelhof-Schöneberg  0.040000
10          Treptow-Köpenick  0.010000

In [30]:
### k-means cluster (Berlin)
# set number of clusters
kclusters = 3

BLN_df_bakery_clustering = BLN_df_bakery.drop(['Borough'], 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(BLN_df_bakery_clustering)

In [31]:
# cluster with the top 10 venues
BLN_df_bakery_merged = BLN_df_bakery.copy()

# clustering label
BLN_df_bakery_merged['Cluster Labels'] = kmeans.labels_

In [32]:
# merge BLN_df_bakery_merged with BLN_df
BLN_df_bakery_merged = BLN_df_bakery_merged.join(BLN_df.set_index('Borough'), on='Borough')

print ('dimensions (rows, column)')
print ('BLN_df_bakery_merged:', BLN_df_bakery_merged.shape)
BLN_df_bakery_merged.head()

dimensions (rows, column)
BLN_df_bakery_merged: (11, 8)

,Borough,Bakery,Cluster Labels,Population,Area,Density,Latitude,Longitude
0,Friedrichshain-Kreuzberg,0.000000,1,"268,225\n",20.16\n,20.16\n,52.50052,13.41871
1,Lichtenberg,0.010000,1,"259,881\n",52.29\n,52.29\n,52.51618,13.48087
2,Marzahn-Hellersdorf,0.023256,0,"248,264\n",61.74\n,61.74\n,52.51667,13.58333
3,Mitte,0.040000,2,"332,919\n",39.47\n,39.47\n,52.52119,13.42414
4,Neukölln,0.020000,0,"310,283\n",44.93\n,44.93\n,52.48077,13.43541

In [33]:
# sort the results
print ('dimensions (rows, column)')
print ('BLN_df_bakery_merged:', BLN_df_bakery_merged.shape)
BLN_df_bakery_merged.sort_values(['Cluster Labels'], inplace=True)
BLN_df_bakery_merged

dimensions (rows, column)
BLN_df_bakery_merged: (11, 8)

,Borough,Bakery,Cluster Labels,Population,Area,Density,Latitude,Longitude
2,Marzahn-Hellersdorf,0.023256,0,"248,264\n",61.74\n,61.74\n,52.516670,13.583330
4,Neukölln,0.020000,0,"310,283\n",44.93\n,44.93\n,52.480770,13.435410
5,Pankow,0.030000,0,"366,441\n",103.01\n,103.01\n,52.569250,13.402480
8,Steglitz-Zehlendorf,0.020000,0,"293,989\n",102.50\n,102.50\n,52.434850,13.241830
0,Friedrichshain-Kreuzberg,0.000000,1,"268,225\n",20.16\n,20.16\n,52.500520,13.418710
1,Lichtenberg,0.010000,1,"259,881\n",52.29\n,52.29\n,52.516180,13.480870
6,Reinickendorf,0.010000,1,"240,454\n",89.46\n,89.46\n,52.575450,13.349700
7,Spandau,0.000000,1,"223,962\n",91.91\n,91.91\n,52.534870,13.202160
10,Treptow-Köpenick,0.010000,1,"241,335\n",168.42\n,168.42\n,52.433330,13.600000
3,Mitte,0.040000,2,"332,919\n",39.47\n,39.47\n,52.521190,13.424140
9,Tempelhof-Schöneberg,0.040000,2,"335,060\n",53.09\n,53.09\n,52.477697,13.358701

In [34]:
# create map
BLN_map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(BLN_df_bakery_merged['Latitude'], BLN_df_bakery_merged['Longitude'], BLN_df_bakery_merged['Borough'], BLN_df_bakery_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' - Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=25,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(BLN_map_clusters)
       
BLN_map_clusters

In [35]:
BLN_map_clusters.save('./images/002_BLN_map_clusters.html')

### 006 - Select the best cluster to open a new backery  <a id='cluster'></a>

#### Cluster 0

In [36]:
BLN_df_cluster_0 = BLN_df_bakery_merged.loc[BLN_df_bakery_merged['Cluster Labels'] == 0]
# export BLN_df_cluster
BLN_df_cluster_0.to_csv('BLN_df_cluster_0.csv', index=False)
BLN_df_cluster_0

,Borough,Bakery,Cluster Labels,Population,Area,Density,Latitude,Longitude
2,Marzahn-Hellersdorf,0.023256,0,"248,264\n",61.74\n,61.74\n,52.51667,13.58333
4,Neukölln,0.020000,0,"310,283\n",44.93\n,44.93\n,52.48077,13.43541
5,Pankow,0.030000,0,"366,441\n",103.01\n,103.01\n,52.56925,13.40248
8,Steglitz-Zehlendorf,0.020000,0,"293,989\n",102.50\n,102.50\n,52.43485,13.24183

#### Cluster 1

In [37]:
BLN_df_cluster_1 = BLN_df_bakery_merged.loc[BLN_df_bakery_merged['Cluster Labels'] == 1]
# export BLN_df_cluster
BLN_df_cluster_1.to_csv('BLN_df_cluster_1.csv', index=False)
BLN_df_cluster_1

,Borough,Bakery,Cluster Labels,Population,Area,Density,Latitude,Longitude
0,Friedrichshain-Kreuzberg,0.00,1,"268,225\n",20.16\n,20.16\n,52.50052,13.41871
1,Lichtenberg,0.01,1,"259,881\n",52.29\n,52.29\n,52.51618,13.48087
6,Reinickendorf,0.01,1,"240,454\n",89.46\n,89.46\n,52.57545,13.34970
7,Spandau,0.00,1,"223,962\n",91.91\n,91.91\n,52.53487,13.20216
10,Treptow-Köpenick,0.01,1,"241,335\n",168.42\n,168.42\n,52.43333,13.60000

#### Cluster 2

In [38]:
BLN_df_cluster_2 = BLN_df_bakery_merged.loc[BLN_df_bakery_merged['Cluster Labels'] == 2]
# export BLN_df_cluster
BLN_df_cluster_2.to_csv('BLN_df_cluster_2.csv', index=False)
BLN_df_cluster_2

,Borough,Bakery,Cluster Labels,Population,Area,Density,Latitude,Longitude
3,Mitte,0.04,2,"332,919\n",39.47\n,39.47\n,52.521190,13.424140
9,Tempelhof-Schöneberg,0.04,2,"335,060\n",53.09\n,53.09\n,52.477697,13.358701